*{
    margin: 0;
    padding: 0vw;
    scroll-behavior: smooth;
    
    font-family: 'Roboto', sans-serif;
}
.center{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center
}
@media (max-width: 502px){
}



h1,li,a{
    color: white;
    font-size: 1vw;
}
a{
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
    color: rgb(197, 197, 197);
}





body{
    background: linear-gradient(to top right, rgb(34, 34, 34), rgb(0, 0, 0));
    width: 99vw;
    height: 600vh;
}



/*freccia*/
.f{
    color:white; 
    transform:rotate(90deg);
    width: 33.333vw;
    font-size: 5vw;

}
#f1{
    position: relative;
    top: 12vh;
    left: 20vw;
    
    transform:rotate(90deg);
    animation-name: freccia;
}
#f2{
    position: relative;
    top: 12vh;
    width: 10vw;
    left: 10vw;
    
    transform:rotate(50deg);

}
#f3{
    position: relative;
    top: 12vh;
    width: 10vw;
    left: 35vw;
    transform:rotate(120deg);
}
#f-v{
    position: relative;
    top: 35vh;
    width: 10vw;
    right: 20vw;
}
.f-in{
    font-size: 5vw;
}


/*freccia 1-div*/
#vagina-box{
    position: absolute;
    top: 27vh;
    left: 37vw;
}
#vagina-div-txt{
    position: absolute;
    top: 50vh;
    left: 33vw;
}
#pene-box{
    position: absolute;
    top: 27vh;
    right: 37vw;
}




/*sezioni*/
.sec{
    width: 99vw;
    height: 100vh;
}
#sec-3{
    height:160vh;
}
#sec-2{
    height:150vh;
}




.title{
    position: relative;
    top: 5vh;
    
    color: rgb(255, 145, 0);
    text-shadow: 2px 2px 10px #ff0000;
    padding-top: 35px;
    font-size: 1.5vw;
    font-family: "Times New Roman", Times, serif;
}
.title-box{
    position: absolute;
    top: 15vh;
    width: 99vw;
    font-size: 1vw;
}
.in-title{
    font-size: 3vw;
}



.pd{
    padding-left: 10vw;
    padding-right: 10vw;
}

.riproduzione{
    position: relative;
    top: 10vh;
    color: white;
    padding-left: 10vw;
    padding-right: 10vw;

}
.riproduzione .argomento-title{
    color: orange;
}
.riproduzione .in-argomento-title{
    padding-top: 90px;
    font-size: 1.2vw;
    text-shadow: 2px 2px 5px #ff8800;
}




